<section class="section hero bg-dark text-light p-4 p-lg-0 pt-lg-5 text-center">
    <div class="container">
        <div class="d-flex justify-content-center align-items-sm-center justify-content-sm-between">
            <img src="../../../../assets/banner.svg" class="img img-fluid d-none d-sm-block" alt="">
            <div class="content">
                <h2 class="fw-bold">Unearth Your <span class="hero-sub-title">Favorite Flick</span></h2>
                <p class="lead my-4 lh-lg">
                    "Find your favorite film by exploring personal preferences and selecting the most cherished movie
                    from your collection or memories."
                </p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search your favourite film" name="search"
                        id="search">
                    <button class="btn btn-lg text-light">Search</button>
                </div>
            </div>
        </div>
    </div>
</section>