<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold display-6" routerLink="home">Good<span class="orange">Films</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                @for (item of navItems; track $index) {
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLinkActive="active" [routerLink]="item.link">{{item.text}}</a>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>
@if (commonService.isLoading) {
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
}