<div class="featured px-md-0 px-md-5 px-0" id="featured">
    <div class="container">
        <h2 class="fw-bold display-6 text-center mb-5">Featured <span class="orange">Films</span></h2>
        <div class="featured-cards">
            <div class="movies-carousel snaps-inline">
                @for (movie of featuredMoviesList; track $index) {
                    <app-movie-card [movie]="movie"></app-movie-card>
                }
            </div>
            <a routerLink="/movies" class="btn btn-light mt-3">
                See More
                <app-icon class="text-secondary" [icon]="['fas', 'chevron-right']"></app-icon>
            </a>
        </div>
    </div>
</div>