.featured {
    margin: 5rem 0;
}

.card {
    width: 12rem;
    cursor: pointer;
    transition: var(--transition);
    box-shadow: var(--box-shadow-1);

    .title {
        max-width: 110px;
    }

    .img {
        height: 275px;
        object-fit: cover;
    }
}

.card:hover {
    box-shadow: var(--box-shadow-2);
    transform: scale(1.02);
}


@media (max-width: 400px) {
    .btn {
        text-align: center;
    }
}