.card {
    /* width: 14rem; */
    cursor: pointer;
    transition: var(--transition);
    box-shadow: var(--box-shadow-1);
    font-size: 0.7rem;
    .title {
        max-width: 72px;
    }

    .img {
        inline-size: 100%;
        height: 130px;
        object-fit: cover;
    }
    
    .skeleton-text {
        width: 110px;
        height: .7rem;
        border-radius: 3px;
    }
}

@media screen and (min-width: 992px) {
    .card {
        font-size: 0.8rem;
    }

    .card:hover {
        box-shadow: var(--box-shadow-2);
        transform: scale(1.02);
    }

    .img {
        height: 170px !important;
    }
}