.btn {
    background-color: var(--orange);
}

.category-title {
    transition: var(--transition);
}

.category-title:hover {
    color: var(--orange);
}

.movies-carousel {
    --spacer: 1rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 60%;

    padding: var(--spacer) 5px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

@media screen and (min-width: 760px) {
    .movies-carousel {
        grid-auto-columns: 31%;
    }
}

@media screen and (min-width: 992px) {
    .movies-carousel {
        grid-auto-columns: 17%;
    }
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    /* scroll-padding-inline: var(--spacer, 1rem); */
}

.snaps-inline>* {
    scroll-snap-align: start;
}