<section class="movies p-5 mb-4">
    <div class="container">

        <div class="search-container d-flex justify-content-center w-100 mb-5">
            <div class="input-group w-50">
                <input type="text" class="form-control" placeholder="Search your favourite film" name="search"
                    id="search">
                <button class="btn text-light border-1 border-danger">Search</button>
            </div>
        </div>

        <div class="feel-good mb-5">
            <h4 class="mb-3">
                <a class="category-title" routerLink="#">
                    All Movies
                    <fa-icon class="ms-1" [icon]="rightIcon"></fa-icon>
                </a>
            </h4>
            <div class="row g-4 mb-4">
                @for (movie of moviesList; track $index) {
                <a [routerLink]="'/movies/movie/' + movie.id"
                    class="col-xl-2 col-lg-3 col-md-4 d-flex justify-content-center" [title]="movie.title | titlecase"
                    [state]="movie">
                    <article class="card border-0">
                        <img [src]="movie.img" class="card-img-top img img-fluid" [alt]="movie.title | titlecase">
                        <div class="card-body">
                            <div class="card-text d-flex justify-content-between fw-medium">
                                <div>
                                    <p class="title text-truncate lh-sm mb-0">{{movie.title | titlecase}}</p>
                                    <small class="text-secondary">({{movie.language | titlecase}})</small>
                                </div>
                                <p class="text-success">
                                    <fa-icon [icon]="icon"></fa-icon>
                                    {{movie.rating}}
                                </p>
                            </div>
                        </div>
                    </article>
                </a>
                <!-- <app-movie-card [movie]="movie"></app-movie-card> -->
                }
            </div>
        </div>

        <div class="all-movies">
            <h4 class="mb-3">
                <a class="category-title" routerLink="#">
                    Feel Good
                    <fa-icon class="ms-1" [icon]="rightIcon"></fa-icon>
                </a>
            </h4>
            <div class="row g-4 mb-4">
                @for (movie of moviesList; track $index) {
                <a [routerLink]="'/movies/movie/' + movie.id" class="col-lg-2 d-flex justify-content-center"
                    [title]="movie.title | titlecase" [state]="movie">
                    <article class="card border-0">
                        <img [src]="movie.img" class="card-img-top img img-fluid" alt="film">
                        <div class="card-body">
                            <div class="card-text d-flex justify-content-between fw-medium">
                                <div>
                                    <p class="title text-truncate lh-sm mb-0">{{movie.title | titlecase}}</p>
                                    <small class="text-secondary">({{movie.language | titlecase}})</small>
                                </div>
                                <p class="text-success">
                                    <fa-icon [icon]="icon"></fa-icon>
                                    {{movie.rating}}
                                </p>
                            </div>
                        </div>
                    </article>
                </a>
                }
            </div>
        </div>

    </div>
</section>