<section class="movies p-5 px-0 px-md-5 mb-4">
    <div class="container-md">

        <div class="search-container d-flex justify-content-center w-100 mb-5">
            <div class="input-group search-bar">
                <input type="text" class="form-control" placeholder="Search your favourite film" name="search"
                    id="search">
                <button class="btn text-light border-1 border-danger">Search</button>
            </div>
        </div>

        <!-- <div class="d-flex justify-content-center m-5" *ngIf="isLoading">
            <div class="spinner-border text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div> -->

        <div class="all-movies mb-5" *ngIf="moviesList.length !== 0 && !isLoading">
            <h4 class="mb-3">
                <a class="category-title" routerLink="#">
                    All Movies
                    <fa-icon class="ms-1" [icon]="rightIcon"></fa-icon>
                </a>
            </h4>
            <div class="movies-carousel snaps-inline">
                @for (movie of moviesList; track $index) {
                    <app-movie-card [movie]="movie"></app-movie-card>
                }
            </div>
    </div>
    
    <div class="feel-good" *ngIf="moviesList.length !== 0">
        <h4 class="mb-3">
            <a class="category-title" routerLink="#">
                Feel Good
                <fa-icon class="ms-1" [icon]="rightIcon"></fa-icon>
            </a>
        </h4>
        <div class="movies-carousel snaps-inline">
            @for (movie of moviesList; track $index) {
                <app-movie-card [movie]="movie"></app-movie-card>
            }
            </div>
        </div>
    </div>
</section>