/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import "open-props/style";

:root {
    /* Colors */
    --white: #f8f9fa;
    --black: #212529;
    --dark-blue: #171d24;
    --orange: #dc2f02;
    --yellow: #ffba08;
    
    /* shadows */
    --box-shadow-1: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --box-shadow-2: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


    /* Others */
    --transition: all .3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    scroll-margin-top: 4rem;
    min-height: 90vh;
}

.orange {
    color: var(--orange);
}

.orange-bg {
    background-color: var(--orange);
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-dark {
    opacity: .7;
    animation: skeleton-dark-loading 1s linear infinite alternate;
}

@keyframes skeleton-dark-loading {
    0% {
        background-color: hsl(199, 15%, 72%);
    }
    100% {
        background-color: hsl(205, 5%, 48%);
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
